<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="/cms/css/bootstrap.min.css">
<link rel="stylesheet" href="/cms/css/fancybox.min.css">
<link rel="stylesheet" href="/cms/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<title><%= title %></title>
